{% extends 'base.html' %}


{% block additional_css %} {% endblock %}

{% block header_text %}Command Line Access Tokens {% endblock %}

{% block container %}
{% if not tokens %}
<p>You don't have any command line access tokens.</p>
{% endif %}
<div class="panel-group" id="accordion">
    

{% for token in tokens %}
    {% with client = token.client %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{ token.access_token }}">
                    {{ client.name }} ({{ client.client_id }})
                </a>
            </h4>
        </div>
        <div id="{{ token.access_token }}" class="panel-collapse collapse">
            <div class="panel-body">
                <dl>
                    <dt>Access Token</dt>
                    <dd>{{ token.access_token }}</dd>
                    <dt>Expiration</dt>
                    <dd>{{ token.expires.strftime('%Y-%m-%d') }}</dd>
                </dl>
                
                <form action="/command-line-tokens/revoke/" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="access_token" value="{{ token.access_token }}" />
                    <button class="btn btn-sm btn-danger" type="submit">Revoke</button>
                </form>
            </div>
    </div>
    {% endwith %}
{% endfor %}
</div>
<a class="btn btn-primary btn-block" href="/command-line-tokens/new/">+</a>

{% endblock %}