{% extends 'base.html' %}


{% block header_text %} New Token{% endblock %}

{% block container %}
{% if clients %}
<form class="form-client" role="form" method="POST" action="/command-line-tokens/new/">
    <div class="form-group">
        <label>Client</label>
        <select class="form-control" name="client_id">
            {% for client in clients %}
            <option value="{{ client.client_id }}">{{ client.name }} ({{ client.client_id }})</option>
            {% endfor %}
        </select>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Token</button>
    </div>
</form>
{% else %}
There are no eligible command line clients.
{% endif %}
{% endblock %}