{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="/static/js/stockCard.js" ></script>
    <script type="text/javascript" src="/static/js/drawChart.js" ></script>
    <script type="text/javascript" src="/static/js/followStock.js" ></script>
{% endblock %}

{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/static/css/profile.css" rel="stylesheet">
    <style type="text/css">
        @media screen and min-width 1px and max-width 767px {
            #columns[data-columns]::before {
                content: '2 .col-xs-6';
            }

        }

        @media screen and min-width768px and max-width 991px {
            #columns[data-columns]::before {
                content: '3 .col-sm-4';
            }

        }

        @media screen and min-width992px and max-width 9999px {
            #columns[data-columns]::before {
                content: '4 .col-md-3';
            }

        }
    </style>
{% endblock %}

{% block container %}
{% set user_id = get_current_user_id() %}
{% set interests_set = get_interest_flow_state(user_id) %}
<script>
function scrollHandler(){
	var stocks = document.getElementById('stocks');
	var contentHeight = stocks.offsetHeight;
	var yOffset = window.pageYOffset;
	var y = yOffset + window.innerHeight;

	if(y >= contentHeight){
		// Ajax call to get more dynamic data goes here
		generateServerRequest(null, '/me/recommended/stocks/', 'GET', true, drawGrid, false);
	}
}
window.onscroll = scrollHandler;
</script>
<div class="stock-list" id="stocks">
    {% if interests_set %}
        <div class="container" id="stockContainer">
        </div>
        <script type="text/javascript">
            generateServerRequest(null, '/me/recommended/stocks/', 'GET', true, drawGrid, false);
        </script>
   {% else %}
    {% if not interests_set %}
        {% set interests = get_interest_list() %}

        <div class="modal fade" id="interestModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="interestModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="headerContainer">
                    <h2 class="text-center headerTitle">Follow 5 sectors</h2>
                    <h3 class="text-center headerSubTitle">Then we'll build a custom home feed for you</h3>
                </div>
              </div>
              <form id="interest-form" action="/interests/" method="post" name ="interest-form">
                  <div class="modal-body">
                    {% if interests|length %}
                      {% for interest in interests %}
                        {% if (loop.index0 % 3) == 0 %}
                            <div class="rowContainer">
                                <div class="row">
                        {% endif %}
                                    <div class="col-md-4 interest">
                                        <div class="interestImage">
                                            <img src="{{ interest.get('image_url') }}" alt="Responsive image" class="img-rounded img-responsive center-block">
                                        </div>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="{{ interest.get('name') }}" id="{{ interest.get('name') }}" value="true"> {{ interest.get('name') }}
                                        </label>
                                    </div>
                        {% if (loop.index % 3) == 0 %}
                                </div>
                            </div>
                        {% endif %}
                      {% endfor %}

                      {% if (loop.index % 3) != 0 %}
                            </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary medium-btn" id="done">Done</button>
                  </div>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
            </div>
          </div>
        </div>

        <script src="/static/js/profile.js"></script>
    {% endif %}
   {% endif %}
</div>
{% endblock %}