.interestImage {
    position: relative;
}

.interestLabel {
    position: relative;
}

.rowContainer {
    margin:0px; padding-bottom:20px;
}

.modal-footer {
    text-align:center;
}

.medium-btn {
    width: 120px;
    height: 35px;
}

.profile-img {
    width: 10px;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 20%; }

.nav-profile {
}

.nav-profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-profile li {
  display: inline;
}

.nav-profile img {
  margin-top: 10px;
}

.nav-profile p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.nav-profile a {
    position: relative;
    bottom: -8px;
}

.stockCard {
    padding: 0;
}

.colCardLeft {
    padding-left: 0;
    padding-right: 0;
}

.colCardRight {
    padding-right: 0;
}
.strong {
font-weight: bold;
}

.alignleft {
	float: left;
	font-size: 10px;
}
.alignright {
	float: right;
	font-size: 2px;
}